/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-400 font-poppins;
}

.menu-links .link {
  @apply text-gray-500 font-semibold text-sm flex items-center mx-3 transition-colors hover:text-brand-600 relative focus:outline-none active:outline-none;
}

.dashboard-card {
  @apply bg-gray-50 rounded-xl p-8 flex flex-col items-center;
}

.dashboard-card-title {
  @apply text-5xl sm:text-8xl text-brand-600 font-extralight;
}

.dashboard-card-info {
  @apply uppercase tracking-widest text-gray-400 text-xs;
}
/* Buttons */

.button {
  @apply py-3 px-6 text-sm font-semibold text-gray-500 bg-white transform transition-all duration-300 hover:bg-gray-100 border rounded-full no-underline justify-center inline-flex items-center focus:outline-none focus:ring-4 focus:ring-brand-200;
}

.button-primary {
  @apply bg-brand-600 hover:bg-brand-700 text-white border-brand-600;
}

.button-muted {
  @apply border-transparent shadow-none hover:bg-white hover:text-gray-800 px-0 hover:shadow-none;
}

.button-dark {
  @apply bg-gray-800 hover:bg-gray-700 text-gray-300;
}

.button-small {
  @apply py-2 px-4 text-xs tracking-widest;
}

.button svg {
  @apply h-5 inline-block ml-1;
}

.button.button-small svg {
  @apply h-4;
}

.button-group button {
  @apply rounded-none;
}

.button-group button:first-child {
  @apply rounded-l-full rounded-r-none;
}

.button-group button:last-child {
  @apply rounded-r-full rounded-l-none;
}

/* Calendar */

.calendar-grid {
  @apply grid grid-cols-7 border-gray-200 border rounded-lg mt-4;
}

.calendar-month-button {
  @apply text-xs tracking-widest uppercase text-gray-400 px-4 cursor-pointer;
}

.calendar-day {
  @apply p-2 border-t border-l;
  /* @apply p-2; */
}
.calendar-day:nth-child(7n - 5) {
  @apply border-l-0;
}

@screen sm {
  .calendar-day:not(.calendar-week) {
    min-height: 120px;
  }
}

.calendar-week {
  @apply text-xx font-semibold tracking-widest text-gray-700  bg-gray-50;
}
/* 
.calendar-week:first-child {
  @apply rounded-tl-xl;
} */

.calendar-day-date {
  @apply text-xs text-gray-400;
}

.calendar-day.out-of-month .calendar-day-date {
  @apply text-gray-200;
}

.calendar-day-col {
  @apply p-2 rounded mt-2;
}

.popup {
  @apply p-8 fixed z-50 h-screen w-screen top-0 left-0 flex items-center bg-gray-900 bg-opacity-75;
}

.popup .popup-content {
  @apply max-w-lg mx-auto bg-white p-8 rounded-lg shadow-2xl prose;
}

.popup .popup-content hr {
  @apply my-4;
}

.form-field {
  @apply w-full border-gray-200 px-4 py-3 mb-4 mt-2 rounded-lg focus:ring-brand-500 focus:border-brand-500 text-gray-500;
}

.flyover {
  @apply absolute opacity-0 invisible p-1 flex transition-all top-0 right-0   transform duration-300;
}

/*  */

.flyover-parent {
  @apply relative;
}

.flyover-parent:hover .flyover {
  @apply lg:flex opacity-100 visible -translate-y-2;
}

.flyover.button-group button {
  @apply bg-gray-700 hover:bg-gray-900 text-gray-300 py-1 px-2;
}

.loader {
  @apply border-4 border-brand-200 w-8 h-8 rounded-full animate-spin;
  border-top-color: theme("colors.brand.600");
  border-right-color: theme("colors.brand.600");
}

.bg-postagem-light {
  @apply bg-postagem-100 text-postagem-500;
}
.bg-postagem-light h5 {
  @apply text-postagem-900;
}
.bg-postagem-dark {
  @apply bg-postagem-500 text-postagem-200;
}
.bg-postagem-dark h5 {
  @apply text-white;
}

.bg-stories-light {
  @apply bg-stories-100 text-stories-500;
}
.bg-stories-light h5 {
  @apply text-stories-700;
}
.bg-stories-dark {
  @apply bg-stories-500 text-stories-200;
}
.bg-stories-dark h5 {
  @apply text-white;
}

.bg-evento-light {
  @apply bg-evento-100 text-evento-500;
}
.bg-evento-light h5 {
  @apply text-evento-700;
}
.bg-evento-dark {
  @apply bg-evento-500 text-evento-200;
}
.bg-evento-dark h5 {
  @apply text-white;
}

.bg-meeting-light {
  @apply bg-meeting-100 text-meeting-500;
}
.bg-meeting-light h5 {
  @apply text-meeting-700;
}
.bg-meeting-dark {
  @apply bg-meeting-500 text-meeting-200;
}
.bg-meeting-dark h5 {
  @apply text-white;
}

.instagram-grid::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
